@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: #FFDBC5;
  margin: 0;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #fe7f4a;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #a1512f;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #fe7f4a;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #a1512f;
}

ul {
  list-style-type: none;
  margin: 2% 1% 1% 1%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #fe7f4a;
}

a:hover.active {
  background-color: #c46137;
}

footer {
  margin-top: 15%;
  background-color: #333;
  text-align: center;
  padding-bottom: 2.5%;
}

a.footer {
  color: white;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 10px;
  margin-top: 2%;
  text-decoration: none;
  display: block;
}

.icon-bar {
  width: 100%;
  background-color: #333;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#fromulario {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 5%  10% -5% 10%;
}

#logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-start: 1;
  margin: 5%  10% -5% 10%;
}